<html>
<head>
  <title>IO Chat</title>
</head>

<body>
  <div class = "container">

    <div id= "userArea" class= "row">
      <div class= "col-md-5">
        <p id= "usernameError"></p>
        <form id="userForm">
          <div class="form-group">
            <label>Enter Username</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Username..." id="username">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Login</button>
              </span>
            </div>
          </div>
        </form>

      </div>
    </div>



    <div class = "row" id= "messageArea">
        <div class="col-md-4">
            <div id="chatBox"></div>

            <form id="messageForm">
              <div class="form-group">
                <label>Enter Message</label>

                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Message..." id="message">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Send</button>
                  </span>
                </div>

              </div>
            </form>

          </div>

    </div>
  </div>

<!-- jQuery Function -->
<script>
      $(function(){
        //create socket object
        var socket = io.connect();
        var $messageForm = $('#messageForm');
        var $message = $('#message');
        var $chatBox = $('#chatBox');
        var $messageArea = $('#messageArea');
        var $userArea = $('#userArea');
        var $userForm = $('#userForm');
        var $username = $('#username');
        var me = '';
        var $usernameError = $('#usernameError');

        //hangel message form send
        $messageForm.submit(function(e){
          e.preventDefault();
          //send event to the server side so it know the form have submitted
          socket.emit('send message', $message.val());

          $message.val('');
        });
        //output the message out
        socket.on('new message',function(data){
           var from = data.username;
           var color = (from == me) ? 'green' : '#009afd';
           from = (from == me) ? 'Me' : data.username;
          $chatBox.append('<b style= "color:' + color + '"">'+ from + '</b>'+ ': ' + data.message + "<br/>")
        })

        //handle username form send
        $userForm.submit(function(e){
          e.preventDefault();
          me = $username.val();
          //the reason to have the 3rd paramaeter is to check username is valid.
          socket.emit('new user', $username.val(), function(data){
            if(data){
              //the data is true which mean the username is valid!
              $userArea.hide();
              $messageArea.show();
            }
            else{
              $usernameError.text('*The username is already exist');
            }
          });
          $username.val('');
        });
        //TODO: output  all the username out
        socket.on('username', function(data){
        })

        socket.on('user join', function(data){
          $chatBox.append('<p style= "color: red' + '"">' + data + " is online.</p><br/>");
        })

      });
</script>

</body>

</html>
